/* Sidebar container */
.sidebar {
    width: 125px;
    background: linear-gradient(to bottom right, rgba(72, 172, 30, 0.9), rgba(34, 139, 34, 0.8)); /* Transparent green gradient */
    color: white;
    padding: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); /* Sidebar shadow */
    height: 100vh; /* Full viewport height */
    position: sticky;
    top: 0;
    font-family: Arial, sans-serif;
}

.sidebar h2 {
    margin: 0 0 20px;
    font-size: 1.2rem;
}

/* Sidebar navigation links */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.sidebar ul li a:hover {
    background-color: rgba(33, 126, 58, 0.2); /* Slight white overlay on hover */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

.sidebar ul li .active-link {
    font-weight: bold;
    color: #4CAF50;
    text-decoration: underline;
}
